<section class="todoapp">
  <header class="header">
    <h1><%=@list.name%></h1>
    <%= form_for([@list, @item]) do |f| %>
      <%= f.text_field :description, :class => "new-todo", :placeholder => (@item.errors.full_messages_for(:description).first || "Enter item name here...")%>
    <% end %>
  </header>

  <section class="main">
    <ul class="todo-list">
        <% @list.items.each do |item| %>
        <li>
          <div class="view">
            <label><a href="#"><%=item.description%></a></label>
          </div>
        </li>
        <% end %>
    </ul>
  </section>

  <footer class="footer">

  </footer>
</section>
